.pageBlock u {
  display: none;
}

.pageBlock.editable u {
  border: 0 none;
  bottom: 0;
  left: -1px;
  position: absolute;
  right: 0;
  top: -1px;
  border: 1px dashed rgb(42, 129, 172);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  z-index: 0;
  box-sizing: content-box;
}

.pageBlock.editable.dropActivate u {
  border: 1px dotted #cccc00 !important;
}

.pageBlock.editable.dropOverImage u {
  border: 1px dotted #cc0000 !important;
}

.pageBlocks.editable.over u {
  -moz-box-shadow: 0 0 0 1px #ff6c65;
  -webkit-box-shadow: 0 0 0 1px #ff6c65;
  box-shadow: 0 0 0 1px #ff6c65;
}
