.ToolbarContainer {
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  z-index: 99999;
}
.ToolbarAreaTop {
  float: left;
}
.ToolbarAreaOther {
  float: right;
}
.ToolbarAreaBottom {
  width: 100%;
}

.ToolbarArea {
  height: 100%;
  color: #2a81ac;
}

.Toolbar {
  width: fit-content;
  position: relative;
  /*height:90px;*/
  top: 0px;
  left: 0px;
  /*margin-top:200px;*/
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
}

.ToolbarTop {
  height: 45px;
}

.ToolbarBottom {
  height: 45px;
  border-top: 1px solid #c7c7c7;
}

.LetterItem {
  width: 26px;
  float: left;
  color: #2a81ac;
}

.AlignItem {
  width: 33px;
  float: left;
  color: #2a81ac;
  font-size: 16px;
}

.BorderBottom {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #c7c7c7;
  display: block;
}

.Poptext ul.LayerPoptextList {
  top: -91px /*!important*/;
}

.RobotoFont {
  font-family: Roboto-Regular;
}
.PTSansFont {
  font-family: "PT Sans";
}
.PTSansBoldFont {
  font-family: "PTSans-Bold";
}
.GreatVibesRegularFont {
  /*font-family: 'GreatVibes-Regular';*/
  font-family: "Arial";
}

.FontPoptext {
  width: 169px;
}

.FontPoptext button {
  width: 100%;
}

.FontPoptextList {
  top: -31px /*!important*/;
  margin-left: -10px /*!important*/;
}
/*.printqToolbar .toolbarSection .group.fontname_group ul li a */
.FontPoptextList li {
  height: 36px;
  line-height: 36px;
  text-align: left;
  width: 100%;
  margin: 0;
  min-width: 180px;
  color: #384347;
}
.FontPoptextList li:hover {
  color: #33a0d6;
}

.DropDownArrow.icon {
  font-size: 9px /*!important*/;
  margin: 0 5px;
  outline: none;
  min-width: 16px;
  height: 43px;
  float: right;
  line-height: 38px;
}

.PaddingRight {
  padding-right: 10px;
}

.PaddingLeft {
  padding-left: 10px;
}

.Toolbar ul li span.BorderBottom {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #c7c7c7;
  display: block;
}

.Toolbar ul li:last-child span.BorderBottom {
  display: none;
}

.Poptext ul {
  top: -46px;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #ffffff;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.099);
  box-shadow: 1px 1.732px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transfrom 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.Poptext ul li {
  padding-left: 10px;
  padding-right: 10px;
  /*width: auto;
    background: #FFFFFF;*/
}

.Poptext ul li {
  height: 100%;
  display: inline-block;
  /*margin: 0 5px;*/
  outline: none;
  min-width: 16px;
  height: 43px;
}

.LetterItem span,
.LayerItem span,
.MenuImageContainer span {
  font-size: 16px;
}

.LayerItem button,
.MenuImageContainer button {
  min-width: 16px;
  margin: 0 5px;
  padding: 0px;
}

.ItemList {
  margin-left: 5px;
  margin-right: 5px;
}

.GroupArea {
  /*border:1px solid green;*/
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  height: 45px;
}

.ButtonTextSpaceing {
  font-size: 16px !important;
}

.Center {
  text-align: center;
}

.GroupWithBorder {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}

.IconSmileyOk {
  color: rgb(153, 209, 34);
}
.IconSmileyNormal {
  color: #fa9c1e;
}
.IconSmileyBad {
  color: rgb(255, 0, 0);
}

.ButtonIcon {
  border: none;
  outline: none;
  background-color: white;
  height: 43px;
  color: #2a81ac;
}
.ButtonIcon:hover {
  cursor: pointer;
}

button.ButtonSelected {
  color: rgb(153, 209, 34);
}

.ChangeShapeImageContainer {
  width: 100%;
  height: 65%;
  display: block;
  position: relative;
  text-align: center;
}

.ChangeShapeWnd {
  height: 346px;
  width: 371px;
  background-color: white;
}

.ChangeShapeImage {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.ChangeShapeSliderTitle,
.ChangeShapeInvertThreshold {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.ChangeShapeWnd {
  padding: 15px;
  padding-left: 15px;
}

.ChangeShapeSlider .Slider {
  width: 90%;
  float: left;
}

.ChangeShapeSlider {
  margin-top: 13px;
  margin-bottom: 18px;
  height: 10px;
}

.ChangeShapeButtons button {
  width: 100px;
  height: 25px;
  border: 1px solid #2a81ac;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
.ChangeShapeClose {
  float: left;
}
.ChangeShapeConfirm {
  float: right;
}

.ColorHeader {
  z-index: 100;
  position: relative;
  height: 24px;
}

.ShowColorSelection {
  height: 102px;
  width: 384px;
  margin-top: -1px;
  background-color: white;
  box-shadow: 1px 1.732px 5px 0 rgba(0, 0, 0, 0.043);
  border: 1px solid #c7c7c7;
  position: absolute;
  z-index: 10;
}

.TabColorName {
  float: left;
  width: 25%;
  color: #2a81ac;
  font-size: 16px;
  height: 20px;
}

.TabColorNameActive {
  color: rgb(153, 209, 34);
}

.ColorSquare {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  cursor: pointer;
}

.SelectedColor {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50px;
  line-height: 20px;
  margin-top: 5px;
  font-size: 8px;
  color: #00abeb;
  position: absolute;
  top: 0px;
  left: 5px;
}

.SelectedColor:before {
  top: 6px;
  position: absolute;
  margin-left: -5px;
}

.AddColor {
  color: #95989a;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.BorderWidth {
  position: relative;
}

.ColorBorderWidthLeft {
  width: 50px;
  float: left;
  color: #2a81ac;
}
.ColorBorderWidthLeft span {
  font-size: 18px;
  margin: 0 10px;
}

.ColorBorderWidthRight {
  width: 300px;
  height: 100%;
  float: left;
  padding-left: 10px;
}

.ColorBorderWidthSlider {
  width: 100%;
}

.ColorTabColorContainer {
  margin-top: 5px;
}

.ColorTabWidthContainer {
  margin-top: 25px;
}

.ColorHeader button {
  margin-top: 5px;
}

.ColorTabColorContainer ul {
  padding-inline-start: 0px;
  margin-left: 14px;
  margin-right: 15px;
  height: 56px;
  overflow: auto;
}

.ColorSelector {
  float: left;
  height: 43px;
}

.ColorSelectorButton {
  width: 24px;
  height: 24px;
  background-color: red;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #cccccc;
}

.ShowColorSelection {
}

.HideColorSelection {
  display: none;
}

.Incremental {
  float: left;
}

.IncrementalText {
  border: none;
  max-width: 50px;
  float: left;
  padding: 0;
  line-height: 42px;
  font-size: 14px;
  height: 42px;
  padding: 0 5px;
  outline: none;
}

.IncrementalUnit {
  line-height: 42px;
  margin-left: -5px;
  float: left;
  background-color: white;
}

.IncrementalAdd {
  vertical-align: top;
  height: 50%;
  color: #2a81ac;
  font-size: 18px;
  line-height: 22px;
  min-width: 23px;
}

.IncrementalSub {
  vertical-align: bottom;
  height: 50%;
  margin-left: -23px;
  color: #2a81ac;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 1px;
  min-width: 23px;
  margin-top: 19px;
}

.IncrementalOp {
  float: left;
}

.InlineSlider {
  margin-top: 0px;
  height: 44px;
  line-height: 36px;
  width: 218px;
}
.InlineSlider input {
  width: 100%;
}

.ShowList {
  transform: none !important;
}

.HideList {
  transform: scaleY(0);
}

.ItemList:hover {
  cursor: pointer;
}
.ItemList:before {
  line-height: 44px;
}

.Poptext {
  float: left;
  position: relative;
}

.Poptext ul.LayerPoptextList,
.Poptext ul.VAlignPoptextList,
.Poptext ul.ImageShapePoptextList {
  text-align: center;
  margin-left: -9px /*!important*/;
}

.Poptext ul.MenuPoptextList {
  text-align: center;
  margin-left: -10px;
}

.Poptext li.disabled {
  cursor: not-allowed;
}

.Poptext li.disabled:before {
  color: #cccccc;
}

.PoptextValueText {
  float: left;
  line-height: 38px;
}

.SimpleIcon.icon {
  line-height: 42px;
}

.SimpleIconContainer {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.Slider {
  float: left;
  position: relative;
}

.SliderPopup {
  width: 300px;
  background-color: white;
  position: absolute;
  left: 0px;
  top: -1px;
  height: 56px;
  background: rgb(251, 251, 253);
  box-shadow: 1px 1.732px 5px 0 rgba(0, 0, 0, 0.043);
  border: 1px solid #c7c7c7;
}

.SliderPopupIcon {
  float: left;
  margin-left: 10px;
  font-size: 30px /*!important*/;
  margin: 10px;
  line-height: 30px;
  margin-top: 12px;
}

.SliderPopupSlider {
  margin-top: 30px;
  float: left;
  width: 230px;
}

/*Apply styling that will override basic appearance*/
/*nb this example is Chrome only*/

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/*Styling the thumb in Chrome*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(51, 160, 214);
  background: #ffffff;
  cursor: pointer;
  margin-top: -12px;
  /*box-shadow: inset 0px 1px 3px rgb(51, 160, 214);/* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /*box-shadow: 1px 1px 1px rgb(51, 160, 214), 0px 0px 1px rgb(51, 160, 214); /* Add cool effects to your sliders! */
}

/*Styling the track in Chrome*/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: inset 3px 3px 3px rgb(51, 160, 214);
}

.SliderPopupIcon:before {
  font-size: 30px;
}

.SliderPopupIcon {
  color: #2a81ac;
}

.SpecialEffectsGallery {
  display: inline;
  max-width: 362px;
  width: 362px;
  position: relative;
  height: 100%;
  overflow: auto;
  overflow: hidden;
  padding: 0;
  margin-top: -1px;
  margin-bottom: 0;
}

.SpecialEffectsGalleryItem {
  height: 116px;
  display: block;
  width: 124px;
  border-color: #c7c7c7;
  border-style: solid;
  border-width: 1px;
  position: relative;
  padding: 10px;
  margin: -1px 0 0 -1px;
  float: left;
  overflow: hidden;
  background-color: #fff;
}

.SpecialEffectsImageBg {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
}

.SpecialEffectsImageContainer {
  width: 104px;
  height: 78px;
  position: relative;
}

.SpecialEffectsImageText {
  width: 104px;
  height: 18px;
  line-height: 10px;
  font-size: 10px;
  font-family: "Roboto Medium";
  color: #384347;
  display: block;
  position: relative;
  padding-top: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  margin: 0 auto;
}

.SpecialEffectsContainer {
  width: 421px;
  height: 346px;
  /*background-color: white;
    border: 1px solid #C7C7C7;*/
}

.SpecialEffectsActions {
  width: 100%;
  height: 100%;
  background-color: none;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-align: center;
  position: relative;
}

.SpecialEffectsGalleryItem:hover div.SpecialEffectsActions {
  background-color: rgba(29, 44, 63, 0.7);
}

.SpecialEffectsGalleryItem:hover .SpecialEffectsActions .select {
  background-color: #33a0d6;
  color: #ffffff;
  left: 37px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.SpecialEffectsOK {
  background-color: #33a0d6;
  color: #ffffff;
  left: -50px;
  transition: left 0.3s ease;

  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  top: 23px;
}
.SpecialEffectsOK:before {
  line-height: 30px;
  cursor: pointer;
}

.SpecialEffectsTab {
  width: 50px;
  height: 50px;
  position: relative;
  left: 0px;
  line-height: 50px;
  text-align: center;
  background-color: #fbfbfd;
  box-shadow: 1px 1.732px 5px 0 rgba(0, 0, 0, 0.043);
  border: 1px solid #c7c7c7;
  border-right: none;
  top: -1px;
}

.SpecialEffectsLeft,
.SpecialEffectsContent {
  float: left;
}
.SpecialEffectsContent {
  width: 371px;
  background-color: white;
  border: 1px solid #c7c7c7;
  border-top: none;
}
.SpecialEffectsLeft {
  width: 50px;
  height: 100px;
}

.SpecialEffectsTab .icon {
  font-size: 20px;
}

.SpecialEffectsBrightnessImageContainer {
  text-align: center;
  padding: 20px;
}

.SpecialEffectsBrightnessImageContainer img {
  max-width: 280px;
  height: auto;
  width: auto;
  max-height: 200px;
}

.LeftContainer,
.RightContainer {
  float: left;
}

.BrightnessSliderContainer {
  width: 100%;
  height: 30px;
}

.LeftContainer .Title {
  font-size: 12px;
  color: #2a81ac;
  margin: 0px;
  line-height: 15px;
}

.LeftContainer {
  width: 55px;
  text-align: left;
}
.RightContainer {
  width: 270px;
  margin-top: 8px;
}

.RightContainer .Slider {
  width: 243px;
}

.SliderValue {
  font-size: 12px;
  color: #2a81ac;
  margin-top: -5px;
  float: right;
}
