.boxLine {
  position: absolute;
  background: transparent;
  border-width: 0px;
  border-style: dashed;
  box-sizing: border-box;
}
.boxLine.trimbox {
  border-color: Red;
}
.boxLine.bleed {
  border-color: green;
}
.boxLine.top,
.boxLine.bottom {
  border-top-width: 1px;
}
.boxLine.right,
.boxLine.left {
  border-left-width: 1px;
}
.boxLine.magneticSnap,
.boxLine.magneticSnapEdge {
  background: transparent;
  border-style: dashed;
  border-width: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
}
.boxLine.magneticSnap.snaped {
  background: #000;
}
.boxLine.left:before {
  content: "";
  border-left: 1px dashed #fff;
  height: 100%;
  width: 1px;
  position: absolute;
  left: -1px;
  top: -1px;
}
.boxLine.right:before {
  content: "";
  border-left: 1px dashed #fff;
  height: 100%;
  width: 1px;
  position: absolute;
  left: -1px;
  top: -1px;
}
.boxLine.bottom:before {
  content: "";
  border-top: 1px dashed #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -1px;
}
.boxLine.top:before {
  content: "";
  border-top: 1px dashed #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -1px;
}
.boxLine.magneticSnap.right:before,
.boxLine.magneticSnap.left:before,
.boxLine.magneticSnap.top:before,
.boxLine.magneticSnap.bottom:before {
  border: 0px;
}
