.boxLine {
  position: absolute;
  background: transparent;
  border-width: 0px;
  border-style: dashed;
  box-sizing: border-box;
}
.boxLine.trimbox {
  border-color: Red;
}
.boxLine.bleed {
  border-color: green;
}
.boxLine.top,
.boxLine.bottom {
  border-top-width: 1px;
}
.boxLine.right,
.boxLine.left {
  border-left-width: 1px;
}
.boxLine.magneticSnap,
.boxLine.magneticSnapEdge {
  background: transparent;
  border-style: dashed;
  border-width: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
}
.boxLine.magneticSnap.snaped {
  background: #000;
}
