* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3f4f6;
}

.greyscale {
  filter: url("../default/assets/grayscale.svg#greyscale");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.sepia {
  filter: url("../default/assets/sepia.svg#old-timey");
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
}

.invert {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}

.flip_horizontal {
  -moz-transform: scaleX(-1) !important;
  -o-transform: scaleX(-1) !important;
  -webkit-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
  filter: FlipH !important;
  -ms-filter: FlipH !important;
}

.flip_vertical {
  -moz-transform: scaleY(-1) !important;
  -o-transform: scaleY(-1) !important;
  -webkit-transform: scaleY(-1) !important;
  transform: scaleY(-1) !important;
  filter: FlipV !important;
  -ms-filter: FlipV !important;
}

.flip_both {
  -moz-transform: scale(-1) !important;
  -o-transform: scale(-1) !important;
  -webkit-transform: scale(-1) !important;
  transform: scale(-1) !important;
  filter: Flip !important;
  -ms-filter: Flip !important;
}

input[type="file"] {
  cursor: pointer !important;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
