.pageContainer {
  display: block;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
.pageNameContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.pageName {
  position: relative;
  position: absolute;
  width: auto;
  display: inline-block;
}
.pageName.isActive div {
  background: red;
  color: #fff;
}
.pageName div {
  width: auto;
  padding: 0 5px;

  display: inline-block;
  line-height: 17px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 12px;
}

.pageSelectorMinimized .paginationBottomContainer {
  padding-bottom: 57px;
}
.pageSelectorExtended .paginationBottomContainer {
  padding-bottom: 335px;
}
.paginationBottomContainer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-bottom: 185px;
  height: 25px;
}
.paginationBottomContainer .paginationSubContainer {
  width: 50%;
  float: left;
  padding: 0 20px;
  display: inline-block;
  height: 25px;
}
.paginationBottomContainer
  .paginationSubContainer.previousContainer
  .paginationItem {
  float: right;
}
.paginationBottomContainer
  .paginationSubContainer.nextContainer
  .paginationItem {
  float: left;
}
.paginationItem {
  width: 25px;
  height: 25px;
  background-color: #fefeff;
  border: 1px solid #dcdee1;
  text-align: center;
  cursor: pointer;
}
.paginationItem span {
  line-height: 20px;
}
.sidePaginationItem {
  position: absolute;
  z-index: 501;
}
.sidePaginationItemLeft {
  transform: translateX(-100%);
  margin-right: 10px;
}
.sidePaginationItemRight {
  margin-left: 10px;
}

.sidePaginationItem .sidePaginationSubItem {
  width: 25px;
  height: 40px;
  background-color: #fefeff;
  border: 1px solid #dcdee1;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  z-index: 501;
}

.page_wrapper {
  height: 100%;
  margin: 0px;
  float: left;
  display: inline-flex;
}
.page_wrapper .pageContainer {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.zoomContainer .page_wrapper:first-child .pageContainer {
  float: right;
}
.zoomContainer .page_wrapper:first-child {
  justify-content: flex-end;
}
.zoomContainer .page_wrapper:last-child {
  justify-content: flex-start;
}
.zoomContainer .page_wrapper:last-child .pageContainer {
  float: left;
}
.overlaySideBySide {
  display: none;
}
.zoomContainer .page_wrapper.overlay .overlaySideBySide {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99999;
  cursor: pointer;
  position: absolute;
}
.secondZoom {
  width: 100%;
  height: 100%;
}
.page_wrapper.overlay .pageContainer.page {
  overflow: hidden;
}
.zoomContainer .page_wrapper.no_overlay {
  position: relative;
  z-index: 501;
}
