.pageBlock.textflow .blockData {
  white-space: pre-wrap;
}

.pageBlock.textflow .blockData,
.pageBlock.text .blockData {
  outline: none;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.pageBlock.text .blockData > div {
  outline: none;
}
.pageBlock.text .blockData > div.text {
  white-space: normal !important;
  overflow-wrap: normal;
  position: relative;
}
