.pageBlock.textflow .blockData {
  white-space: pre-wrap;
}
.pageBlock.textflow .blockData {
  display: table-cell;
}
.pageBlock.text .blockData {
  display: table-cell;
  outline: none;
}

.pageBlock.text .blockData > div {
  outline: none;
}
