.Layout {
  width: 100%;
  height: 100%;
  font-family: "factoria, serif";
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: factoria, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: rgb(102, 102, 102);
  text-shadow: transparent 0px 1px 1px;
  background-color: white;
}

@media screen and (min-width: 842px) {
  .MainContainer {
    min-height: 760px;
  }
}

.MainContainer {
  background-image: url("/editor/design/themes/default/designAndGo/assets/bg.png");
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  overflow-x: hidden;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

@media screen and (min-width: 842px) {
  .StyledSplitPane {
    min-height: 760px;
  }
}
.StyledSplitPane {
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  margin: 0px auto;
}

@media screen and (min-width: 842px) {
  .LeftPanel {
    min-width: 520px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    padding: 30px 0px;
  }
}

.LeftPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1 0 50%;
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 842px) {
  .RightPanel {
    max-height: 800px;
  }
}

.RightPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: center;
  max-height: 800px;
  flex: 1 1 50%;
}

.slick-track {
  width: 100px;
}

@media screen and (min-width: 842px) {
  .LeftPaneHorizontal {
    align-self: flex-end;
    max-width: 700px;
    width: 100%;
  }
}
.LeftPaneHorizontal {
  display: flex;
  height: 100%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1 1 0%;
}

@media screen and (min-width: 842px) {
  .LeftPaneHorizontalStyled {
    width: 460px;
    margin: 0px auto;
    padding: 0px 20px;
  }
}
.LeftPaneHorizontalStyled {
  position: relative;
  /*overflow-y: auto;*/
}

@media screen and (min-width: 842px) {
  .TitleContainer {
    margin-bottom: 18px;
  }
}

.TitleContainerLink a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.TitleContainerLink {
  display: block;
}

@media screen and (min-width: 520px) {
  .Title {
    width: 403px;
    height: 79px;
    background-image: url("/editor/design/themes/default/designAndGo/assets/jamLabel.png");
    background-size: contain;
  }
}

.Title {
  font-size: 0px;
  z-index: 10;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0px;
}
.Title h1 {
  text-shadow: transparent 1px 1px 1px;
  color: rgb(234, 125, 125);
  font-weight: 500;
}

/*
.Title {
  width: 415px;
  height: 42px;
  background-size: contain;
  font-size: 25px;
  z-index: 10;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0px;
}
*/
.DescriptionHeader {
  font-size: 22px;
  text-shadow: transparent 1px 1px 1px;
  color: rgb(234, 125, 125);
  font-weight: 500;
}

.Description {
  margin-top: 0px;
  margin-bottom: 8px;
}

@media screen and (min-width: 842px) {
  .FieldsContainer {
    margin-bottom: -6px;
  }
}

@media screen and (min-width: 842px) {
  .InputName.Input {
    margin-right: 4px;
    width: calc(50% - 4px);
  }

  .InputType.Input {
    margin-left: 4px;
    width: calc(50% - 4px);
  }

  .InputDate.Input {
    width: calc(50% - 4px);
  }
}

.Input {
  margin-top: 14px;
  margin-bottom: 10px;
  width: 100%;
  vertical-align: top;
  display: inline-block;
}

.InputLabelContainer {
  font-weight: 300;
  margin-bottom: 5px;
  color: rgb(234, 125, 125);
}

.InputLabelContent {
  margin-top: 5px;
  display: block;
  text-shadow: none;
  color: rgb(102, 102, 102);
}

.InputLabelContent input {
  height: 32px;
  font-size: 15px;
  font-family: factoria, serif;
  color: rgb(102, 102, 102);
  padding: 3px 8px 0px;
  border-radius: 5px;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 201, 225);
  border-image: initial;
  width: 100%;
}

.InputLabelContent input:focus {
  box-shadow: rgb(234, 125, 125) 0px 0px 2px 2px;
  z-index: 100;
  position: relative;
  outline: none;
}

.slick-slider button {
  /*background-color: black!important;*/
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  z-index: 20;
  font-family: inherit;
  font-weight: 700;
  /* line-height: 40px; */
  cursor: pointer;
  text-align: center;
  color: white;
  touch-action: manipulation;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  width: 50px;
  height: 50px;
  padding: 0px 16px;
  text-decoration: none;
  background-color: rgb(234, 125, 125);
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  border-radius: 50%;
  border-width: 0px;
}
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background: rgb(203, 98, 97) !important;
}
.slick-arrow.slick-prev:focus,
.slick-arrow.slick-next:focus {
  background-color: rgb(234, 125, 125) !important;
}

.slick-prev.slick-arrow {
  left: 50% !important;
}
.slick-next.slick-arrow {
  right: 0 !important;
}

.slick-dots {
  display: none !important;
}

.slick-slider {
  background-color: transparent;
  position: absolute !important;
  height: 50%;
  top: 20%;
  width: 100%;
}

.SmallSlider.SliderCarousel .slick-slider {
  /* width: 50%;*/
  left: 50%;
}
.SmallSlider.SliderCarousel .slick-prev.slick-arrow {
  left: 0px !important;
}
.SmallSlider.SliderCarousel .slick-next.slick-arrow {
  right: 50% !important;
}

.SmallSlider.SliderCarousel .SliderPage {
  left: 10%;
}

.SliderPage {
  height: auto;
  width: 300px;
  left: 60%;
  position: relative;
}

.LeftPanel,
.RightPanel {
  box-sizing: border-box;
}
.InputLabelContent input {
  box-sizing: border-box;
}
.SliderCarousel div {
  outline: none;
}

@media screen and (max-width: 842px) {
  .SmallSlider.SliderCarousel .slick-slider {
    left: 500px !important;
  }
}
