.paginationContainer {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0px;
  padding: 10px;
}
.paginationContainer .groupItem {
  width: auto;
  margin-left: 10px;
  float: left;
  height: 100%;
}
.paginationContainer .groupItem .pageItem {
  background: #fff;
  width: 150px;
  float: left;
  height: 100%;
  cursor: pointer;
  border: 1px solid #000;
  position: relative;
}
.overlayHelper {
  background: white;
  height: 100%;
  opacity: 0.3;
  z-index: 99999999999999999999999;
  position: absolute;
  cursor: pointer;
}
