.canvasContainer {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  padding-top: 80px;
  padding-bottom: 170px;
  padding-right: 40px;
}
