.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper-container {
  width: 250px;
  position: absolute;
  display: block;
  background-color: #f0eff0;
  height: 100%;
  /*-webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;*/
  float: left;
  z-index: 11;
}

#sidebar-wrapper-container ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  /* padding: 0; */
  width: 100%;
  height: 100%;
  background-color: #f0eff0;
}

#sidebar-wrapper-container ul li.SidebarButtonContainer {
  width: 100%;
  height: 60px;
}

#sidebar-wrapper-container .SidebarButton {
  width: 100%;
  height: 60px;
  cursor: pointer;
  color: grey;
  background-color: #f9fafc;
  border: none;
  outline: none;
  padding-right: 0px;
  //border-right: 1px solid #dcdee1;
}

#sidebar-wrapper-container .SidebarButton .icon {
  float: left;
  font-size: 24px;
  text-decoration: none;
  padding: 18px;
  height: 60px;
  -webkit-transition: background 0.2s ease, color 0.2s ease, left 0.2s ease;
  -moz-transition: background 0.2s ease, color 0.2s ease, left 0.2s ease;
  -ms-transition: background 0.2s ease, color 0.2s ease, left 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease, left 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease, left 0.2s ease;
}

#sidebar-wrapper-container .SidebarButton .IconTitle {
  font-size: 14px;
  font-family: "Roboto";
  height: auto;
  line-height: 60px;
  padding: 0;
  left: 63px;
  float: left;
  height: 60px;
}

#sidebar-wrapper-container .SidebarButton .More {
  display: block;
  float: right;
  font-size: 8px;
  height: auto;
  line-height: 26px;
  width: auto;
  position: absolute;
  right: 7px;
}

#sidebar-wrapper-container .PaneContainer {
  position: absolute;
  right: -400px;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 400px;
  height: 100%;
  z-index: -1;
  background-color: #1b2939;
  padding: 5px 0 5px 0px;
}

#sidebar-wrapper-container .PaneHidden {
  right: 0px;
  z-index: -1;
}

#sidebar-wrapper-container .SidebarButtonSelected,
#sidebar-wrapper-container .SidebarButton:hover {
  color: #99d122;
}

.ToggleSidebarContainer {
  height: 50px;
}

#sidebar-wrapper-container .PaneContainer {
  margin-top: 50px;
  background-color: white;
}

.ToggleSidebarContainer button {
  margin-right: 10px;
  float: right;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
.ToggleSidebarContainer button:hover {
  cursor: pointer;
}

#sidebar-wrapper.SidebarMinimized #sidebar-wrapper-container {
  width: 90px;
}

#sidebar-wrapper.SidebarMinimized .IconTitle {
  display: none;
}

.BackButtonContainer button {
  float: right;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  margin-top: 5px;
}

.BackButtonContainer button:hover {
  cursor: pointer;
}

.BackButtonContainer {
  height: 25px;
  position: relative;
  width: 100%;
  display: block;
}

/*
.RightTriangle {
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
  float: right;
  margin-top: 10px;
  display: none;
}
*/

.RightTriangle {
}
#sidebar-wrapper.SidebarMinimized .RightTriangle {
  position: absolute;
  right: 0px;
}

#sidebar-wrapper.SidebarMinimized .RightTriangle {
  display: none;
}
#sidebar-wrapper.SidebarMinimized .SidebarButtonSelected .RightTriangle {
  display: inline-block;
}

.icon {
  color: #666666;
}

#sidebar-wrapper-container .PaneContainer {
  margin-top: 0px;
}

#sidebar-wrapper-container .SidebarButton.SidebarButtonSelected .RightTriangle {
  position: absolute;
  margin-left: 68px;
  border-left: 1px solid #cccdce;
  right: -1px;
  margin-top: -13px;
}

#sidebar-wrapper-container {
  width: 100px;
}

#sidebar-wrapper-container ul li.SidebarButtonContainer {
  height: 80px;
}

#sidebar-wrapper-container .SidebarButton .IconTitle {
  float: left;
  width: 100%;
  line-height: 20px;
  height: 20px;
}

#sidebar-wrapper-container .SidebarButton .icon {
  padding: 0px;
  width: 100%;
}

#sidebar-wrapper-container .SidebarButton .IconContainer {
  width: 100%;
  text-align: -webkit-center;
  height: 30px;
}

#sidebar-wrapper-container .SidebarButton .icon {
  width: 88px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  float: none;
}

#sidebar-wrapper-container .SidebarButton {
  padding: 6px;
  height: 80px;
}

.RightTriangle:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-color: transparent #cccdce transparent transparent;
  border-style: solid;
  border-width: 11px;
}

.RightTriangle:after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 10px;
}

#sidebar-wrapper-container ul {
  background-color: #f9fafc;
  border-right: 1px solid #dcdee1;
}

#sidebar-wrapper-container .PaneContainer {
  border-right: 1px solid #dcdee1;
}

#sidebar-wrapper-container .icon,
#sidebar-wrapper-container .SidebarButton {
  color: #58595b;
}

#sidebar-wrapper .SidebarButtonSelected {
  background-color: #ebedf0;
}

/* for fupa */
#sidebar-wrapper-container .sidebarButtonContainer .iconTitle {
  font-family: Arial;
  font-size: 9px;
  color: #000000;
}

#sidebar-wrapper-container .sidebarButtonContainer .icon.printqicon-zoom_in,
#sidebar-wrapper-container .sidebarButtonContainer .icon.printqicon-zoom_out {
  font-size: 22px;
  color: #666666;
}

#sidebar-wrapper-container .sidebarButtonContainer .zoomValue {
  font-family: Arial;
  font-size: 14px;
  color: #666666;
}

#sidebar-wrapper-container .sidebarButtonContainer .zoomButtons button {
  background: #666666;
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
}

#sidebar-wrapper-container .sidebarButtonContainer .zoomButtons button:hover {
  background-color: #c30c15;
}

.pageSelector .stadion-up.stadion-icon,
.pageSelector .stadion-down.stadion-icon {
  background: #ffffff;
  border: 1 solid #cccccc;
  border-radius: 3px;
  font-family: Porto-Regular;
  font-size: 16px;
  color: #666666;
}

.pageSelector .pageHeaderButtonExtend,
.pageSelector .pageHeaderButtonMinimize {
  width: 38px;
  height: 24px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff;
}

.pageSelector .pageHeaderButtonMinimize {
  margin-left: 12px;
}

#container.pageSelectorMinimized .pageSelector .pageHeaderButtonExtend {
  top: 1px;
}

.pageSelector .pageHeaderButtonExtend .icon,
.pageSelector .pageHeaderButtonMinimize .icon {
  font-family: Porto-Regular;
  font-size: 16px;
  color: #666666;
}

.backButtonContainer button {
  width: 28px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-family: Porto-Regular;
  font-size: 16px;
  color: #666666;
  margin-top: 0px;
}

.backButtonContainer {
  height: 34px;
}

#sidebar-wrapper-container .paneContainer {
  background-color: #f9fafc;
}

#sidebar-wrapper-container ul .uploadGalleryUl {
  border-right: none;
}
