body {
  overflow-x: hidden;
  margin-bottom: 0px !important;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.canvas-container {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.render-container {
  width: 100%;
  height: 100%;
  background-color: burlywood;
}
#root,
#wrapper,
#plugins-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  /*overflow-y: auto; MIKI needed to show pane from sidebar*/
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.Tooltip {
  background-color: #213246;
  position: relative !important;
  color: #ffffff;
  max-width: 240px !important;
}

.TooltipTitle {
  margin: 0;
  margin: 10px;
  font-size: 16px;
}

.TooltipDesc {
  margin: 0;
  padding: 0px 10px 10px 10px;
  font-size: 14px;
  color: #6cbfe8;
  width: 100%;
}

.__react_component_tooltip {
  padding: 0px !important;
}
.__react_component_tooltip.place-top {
  margin-top: 0px !important;
}

.__react_component_tooltip.type-dark {
  background-color: #213246 !important;
}
.__react_component_tooltip::after {
  border-top-color: #213246 !important;
}
